body{background-color:#c9d5e3 ;


}
h1{color: #805242 ;
    text-align: center;
    font-family:Luxurious Script ;
    font-size: ;

    }  
h2{ color:#4c5e6f;
}
p{
    font-family: ;
    font-size: ;
}
img{
    max-width: 25%;
    height: auto;

}